html, body {
    margin: 0;
    padding: 0;
    height: 90%;
}

.header {
    display: flex;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border-bottom: 2px solid #FFFFFF;
    justify-content: space-between; 
    align-items: center;
}

.header h1 {    
    font-size: 3vw;
}
.hyperlinks {
    display: flex;
    justify-content: right;
    align-items: center;
    
}

.picture {
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.left-div, .right-div {
    display: flex;
    height: 100%;
    width: 50%; 
    box-sizing: border-box; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding-top: 80px;
    
   
}

.container {
    display: flex;
    width: 100%;
    height: 100%; 
    padding: 0;
}

.left-div img {
    max-width: 100%; 
    max-height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    

    
    
}

.left-div {
   
    height: 100%;
    background-color: #000000;
}

p {
    font-family: 'Calibri', sans-serif;
    font-size: 1vw;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: #FFFFFF; 
    text-decoration: none; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1vw;
    margin-left: 20px; 
    font-weight: lighter;
    
    
}

.quote {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #f0f0f0; 
    margin-top: 10px; 
    font-style: italic; 
}

.quote p {
    margin: 0;
    font-size: 150px; 
    max-width: 80%; 
    margin: 0 auto; 
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .left-div, .right-div {
        width: 100%; 
        height: auto;
        
    }
    p {
        font-size: 3vw; 
    }
    a {
        font-size: 3vw; 
    }

    .quote p {
        font-size: 100px; 
        max-width: 80%; 
        margin: 0 auto; 
    }
}