/* Global styles */
html, body {
    margin: 0;
    padding: 0;
    height: 90%;
}
/* Header styling */
.header {
    display: flex;
    background-color: #000000;
    color: #FFFFFF;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: 2px solid #FFFFFF;
    justify-content: space-between; 
    align-items: center;
}

.header h1 {    
    font-size: 3vw;
}
/* Hyperlink placement */
.hyperlinks {
    display: flex;
    justify-content: right;
    align-items: center;
    
}
/* Picture on main page */
.picture {
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
/* Left and right divs on main page */
.left-div, .right-div {
    display: flex;
    height: 100%;
    width: 50%; 
    box-sizing: border-box; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding-top: 80px;
    
   
}
/* Container for main page */
.container {
    display: flex;
    width: 100%;
    height: 100%; 
    padding: 0;
}
/* Image styles */
.left-div img {
    max-width: 100%; 
    max-height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    

    
    
}
/* image div */
.left-div {
   
    height: 100%;
    background-color: #000000;
}
/* Paragraph styles */
p {
    font-family: 'Calibri', sans-serif;
    font-size: 1vw;
}
/* Heading styles */
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Link styles */
a {
    color: #FFFFFF; 
    text-decoration: none; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1vw;
    margin-left: 20px; 
    font-weight: lighter;
    
    
}
/* Quote container */
.quote {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #f0f0f0; 
    margin-top: 10px; 
    font-style: italic; 
}
/* Quote text */
.quote p {
    margin: 0;
    font-size: 150px; 
    max-width: 80%; 
    margin: 0 auto; 
}

.spin-container {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}
.empty-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #FFFFFF;
}

.empty-content p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 3vw;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .left-div, .right-div {
        width: 100%; 
        height: auto;
        
    }
    p {
        font-size: 3vw; 
    }
    a {
        font-size: 3vw; 
    }

    .quote p {
        font-size: 100px; 
        max-width: 80%; 
        margin: 0 auto; 
    }
}